@import "../../../styles.scss";

.report{
    margin: 2vw 2vw 0;
    background: #fff;
    font-size: 12px;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
    border-radius: 6px;
input{
    width: 50%;
    border: 0.5px solid #007ad9;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 12px;
    background: #f4f4f4;
}
}
.create{
    input{
        width: 100%;
    }
}
th,td{
    text-align: center;
}
h6{
    font-weight: 600;
    font-size: 12px;
}
