
        <div class="row patient">
            <div class="col-6">
                <div>
                    <label>Name:</label>
                    <span>XXXXXX</span>
                </div>
                <div>
                    <label>PatientID:</label>
                    <span>23</span>
                </div>
                <div>
                    <label>Age:</label>
                    <span>25</span>
                </div>
                <div>
                    <label>Gender:</label>
                    <span>Male</span>
                </div>
                <div>
                    <label>B Group:</label>
                    <span>O+</span>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label>Mother Name:</label>
                    <span>YYYYYYY</span>
                </div>
                <div>
                    <label>Address:</label>
                    <span>Mountain view,CL</span>
                </div>

            </div>
        </div>

