
<section>
    <div class="loader" *ngIf="loader">
            <p-progressSpinner [style]="{width: '30px', height: '30px'}" strokeWidth="6" fill="#fff" animationDuration="5s"></p-progressSpinner>
        <P>Data loading..</P>
    </div>


<div class="row">
    <div class="col-md-8"></div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
    </div>
</div>

<section class="chart">
    <div class="row">
        <div class="col-7">
            <div class="card container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <h5>Body temperature</h5>
                    </div>
                    <div class="col-md-4 text-right">
                        <span style="font-size: 12px;
                        padding-right: 12px;">ViewBy:</span>
                        <select (change)="filterByDate($event.target.value)">
                            <option value="hour">Hour</option>
                            <option value="day">Day</option>
                            <option value="month">Month</option>
                            <option value="year">Year</option>
                            <option value="minute">Minute</option>
                        </select>
                    </div>
                    <div class="col-md-3 text-right" (click)="randomize()">
                        <button pButton type="button" label="Change Chart View" class="ui-button-rounded"></button>
                    </div>
                </div>

                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" width="400" [labels]="barChartLabels"
                        [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    <div class="chartLabel">{{byDate}}</div>
                </div>
            </div>


        </div>
        <div class="col-5">
            <div class="card container-fluid">
                <div class="heart">
                    <div class="heading">Average Heart Rate</div>
                    <div class="row">
                        <div class="col-md-8 heartImg">
                            <fa-icon [icon]="heart"></fa-icon>
                        </div>
                        <div class="col-md-4 float-right">
                            <h1 style="color: red;padding-top: 3vw;text-align:right;">{{heartRateAvg | number : '1.2-2'}}</h1>
                            <h6 class="text-right">BPM</h6>
                        </div>
                    </div>
                    <div class="row minMax">
                        <div class="col-md-6 text-left">
                            <span><b>MIN &nbsp;</b> {{heartRateMin | number : '1.2-2'}} </span>
                            <fa-icon [icon]="faArrowDown"></fa-icon>
                            
                        </div>
                        <div class="col-md-6 text-right">
                            <span><b>MAX &nbsp;</b> {{heartRateMax | number : '1.2-2'}} </span>
                            <fa-icon [icon]="faArrowUp"></fa-icon>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card container-fluid" style="margin-top: 1vw;">
                <div class="blood">
                    <div class="heading">Blood Pressure <fa-icon [icon]="faBurn"></fa-icon></div>
                    <div class="row" style="padding:20px 0;">
                        <div class="col-md-6 float-right">
                            <p>Systolic</p>
                            <h4 style="color: red;text-align:center;">{{bloodPreSysAvg | number : '1.2-2'}}<sub>mmHg</sub></h4>
                        </div>
                        <div class="col-md-6 float-right">
                            <p class="text-center">Diastolic</p>
                            <h4 style="color: red;text-align:center;">{{bloodPreDiaAvg | number : '1.2-2'}}<sub>mmHg</sub></h4>
                            
                        </div>
                    </div>
                    <div class="row minMax">
                        <div class="col-md-3 text-left">
                            <span><b>MAX &nbsp;</b> {{bloodPreSysMax | number : '1.2-2'}} </span>
                        </div>
                        <div class="col-md-3 text-left">
                            <span><b>MIN &nbsp;</b> {{bloodPreSysMin | number : '1.2-2'}} </span>
                        </div>
                        <div class="col-md-3 text-right">
                            <span><b>MAX &nbsp;</b> {{bloodPreDiaMax | number : '1.2-2'}} </span> 
                        </div>
                        <div class="col-md-3 text-right">
                            <span><b>MIN &nbsp;</b> {{bloodPreDiaMin | number : '1.2-2'}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</section>