@import "../../../styles.scss";

.heart {
    background: $white;
}
.blood {
    background: $white;
    fa-icon {
        color: #dc3545;
    }
    p{
        text-align: center;
    font-size: 12px;
    padding: 5px 0;
    }
    .minMax{
        font-size: 12px;
    }
}
.theme-default {
    color: red !important;
}
.card {
    h5,
    .heading {
        font-weight: 600;
    }
}
sub{
    font-size: 10px;
    font-weight: 400;
    color: #000;
}
select {
    border: 1px solid #007ad9;
    background: #007ad9;
    color: white;
    border-radius: 12px;
    padding: 2px 17px;
    font-size: 11px;
}
.chartLabel {
    text-align: center;
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
}
.heartImg {
    text-align: center;
    fa-icon {
        color: #dc3545;
        font-size: 7vw;
    }
}
.minMax{
    fa-icon{
        color: &black;
    }
}
.loader{
    width: 95%;
    height: 84%;
    p{
        top: 51%;
        left: 46%;
        letter-spacing: 1px;
    }
}