@import "../../../styles.scss";

.heart{
    height: 30vh;
    background: $white;
}
.blood{
    height: 20vh;
    background: $white;
}
.theme-default{
    color: red !important;
}
.card{
    h5,.heading{
        font-weight: 600;
    }
    
}