<div class="row">
    <div class="col-md-8"></div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
    </div>
</div>

<section class="chart">
    <div class="row">
        <div class="col-7">
            <div class="card container-fluid">
                <div class="row">
                    <div class="col-md-8"><h5>Body temperature</h5></div>
                    <div class="col-md-4" (click)="randomize()">click here to change Chart View</div>
                </div>
                
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData"  [labels]="barChartLabels" [options]="barChartOptions"
                      [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                  </div>
            </div>
            
              
        </div>
        <div class="col-5">
            <div class="card container-fluid">
                <div class="heart">
                    <div>Average heart Rate</div>
                    <div class="float-right">
                        <h1 style="color: red;">54</h1>
                        <h6>BPM</h6>
                    </div>
                </div>
            </div>
            <div class="card container-fluid" style="margin-top: 1vw;">
                <div class="blood">
                    <div>Blood pressure</div>
                    <div class="float-right">
                        <h1 style="color: red;">54</h1>
                        <h6>BPM</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</section>