<section style="padding-top:60px" class="profile container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding:0px;">
            <p-tabView (onChange)="handleChange($event)">
                <p-tabPanel header="Patient Info">

                    <app-patient-info></app-patient-info>
                </p-tabPanel>
                <p-tabPanel header="Vital Signs">
                    <div *ngIf="index == 1">
                        <app-vital-signs></app-vital-signs>
                    </div>
                </p-tabPanel>

                <p-tabPanel header="Activities">
                    Content 2
                </p-tabPanel>

                <p-tabPanel header="Appointment Details">
                    <div *ngIf="index == 3">
                        <app-appmt-details></app-appmt-details>
                    </div>
                </p-tabPanel>

                <p-tabPanel header="Appointment history">
                    Content 4
                </p-tabPanel>

                <p-tabPanel header="Report Details">
                    <div *ngIf="index == 5">
                        <app-report></app-report>
                    </div>
                </p-tabPanel>
                
            </p-tabView>
        </div>

    </div>
</section>