<section style="padding-top:60px" class="profile container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding:0px;">
            <p-tabView>
                <p-tabPanel header="Patient Info">
                    <app-patient-info></app-patient-info>
                </p-tabPanel>
                <p-tabPanel header="Vital Signs">
                    <app-vital-signs></app-vital-signs>
                </p-tabPanel>
                <p-tabPanel header="Activities">
                    Content 3
                </p-tabPanel>
                <p-tabPanel header="Appointment History">
                    Content 3
                </p-tabPanel>
                <p-tabPanel header="Report Details">
                    Content 3
                </p-tabPanel>
            </p-tabView>
        </div>

    </div>
</section>