<app-header></app-header>
<section class="main container-fluid">
    <div class="content">
    <div class="row">
        <div class="col-12  col-md-5">
            <div class="middle">
                <h1>Track your health condition</h1>
                <p class="def">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti debitis cum aspernatur iste sint commodi deserunt necessitatibus ab quasi vel veniam distinctio porro totam assumenda, quo expedita eligendi laborum. Unde?</p>
                <p>amet consectetur adipisicing elit</p>
                <button class="UBtn" type="button" routerLink="/Search">Get Started</button>
            </div>
        </div>
        <div class="col-12 col-md-7 ">
            <img src="../../../assets/images/doc.svg" alt="mac" class="mac"> 
        </div>
    </div>
</div>
</section>
<section class="count container-fluid">
    <div class="row" style="height: inherit;">
        <div class="col-md-3 col-12 data">
            <div class="inner">
                <h6>100,000 online courses</h6>
                <span>we track every patient health data</span>
            </div>
            
        </div>
        <div class="col-md-3 col-12 data dash">
            <div class="inner">
                <h6>6+ Lakhs active Users</h6>
                <span>xxxxxx xxxxxx</span>
            </div>
            
        </div>
        <div class="col-md-3 col-12 data dash">
            <div class="inner">
                <h6>predict you based on data</h6>
                <span>sdas asdasd asdasd</span>
            </div>
            
        </div>
        <div class="col-md-3 col-12 data dash">
            <div class="inner">
                <h6>Lifetime</h6>
                <span>xxxx xx xxx schedule</span>
            </div>
           
        </div>
    </div>
</section>
