@import "../../../styles.scss";
.main {
    height: calc(88vh - 60px);
    background: $appColor;
    margin-top: 60px;
}

.content {
    padding: 0 5vw;
    color: $white;
    position: absolute;
    top: 48%;
    transform: translate(0%, -50%);
    .def {
        color: $lightG;
    }
}
.mac{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.middle{
    padding-left: 3vw;
}
.count {
    height: 12vh;

    .data {
        background: $SndColor;
        border-bottom: 0.5px solid #000;
        span {
            color: $lightG;
        }
        .inner {
            
            text-align: center;
            position: absolute;
            top: 50%;
            width: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.dash:after {
    content: "";
    display: block;
    height: 48px;
    left: 0px;
    position: absolute;
    top: 14px;
    width: 1.4px;
    background: $lightG;
}
