<app-toolbar></app-toolbar>
<router-outlet><router-outlet>
<div class="queueAlert" *ngIf="showAlert">
    <div class="close" (click)="closeAlert()">x</div>
    <div *ngIf="vital">
        <div>
            <span><b>Alert for critical Patient ID : </b>{{alertRecord?.patientid}}</span>
        </div>
        <div><b>heart Rate : </b>{{alertRecord?.heartrate | number : '1.2-2'}}</div>
        <div><b>Body Temperature : </b>{{alertRecord?.temperature | number : '1.2-2'}}</div>
    </div>
    <div *ngIf="noData">
        <div style="padding:10px;">No more Alerts..</div>
    </div>
    
</div>