<nav class="fixed-top navbar-light">
    <div class="row toolbar" style="line-height: 3.6rem;padding: 0 10px;">
        <div class="col-6 col-md-2">
            <span class="logo" routerLink="/Search"><b>P</b>ersonal Care</span>
        </div>
       <div class="col-md-6"></div>
       <div class="col-md-2 text-right">
           <span routerLink="/Search"><fa-icon [icon]="faHome"></fa-icon> &nbsp; Home</span>
       </div>
       <div class="col-md-2 text-left">
        <span routerLink="/notification"><fa-icon [icon]="faBell"></fa-icon> &nbsp; Alerts</span>
    </div>
    </div>
</nav>