<app-toolbar></app-toolbar>

<div class="mainPg">
    <section class="container-fluid first">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <div><h1>Search patient details</h1></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta numquam, fugiat a ipsa, architecto temporibus ullam accusamus ratione fugit at vero nemo! Dicta ex facere consectetur itaque cumque provident.</p>
                    <div class="search">
                        <form (submit)="getPatientId()">
                            <div class="form-group">
                              <input type="number" name="id"  class="form-control" [(ngModel)]="patientID" placeholder="Type patient Id" >
                            </div>
                            <button type="submit"> Search</button>
                        </form>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="option">
                                <p>Total No of patients</p>
                                <h4 class="text-center">1228</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="option">
                                <p>Doctors</p>
                                <h4 class="text-center">32</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="option">
                                <p class="ctr">Shift Details</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="option">
                                <p class="ctr">+ Add New Patient</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-5">
                    <img src="../../../assets/images/patient.svg" alt="patient" class="patient">
            </div>
            <div class="col-1"></div>
        </div>
    </section>
</div>