@import "../../../styles.scss";
.mainPg{
    background: $grey;
    
}
.patient{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.first{
    padding-top: calc(100vh - 75vh);
    height: calc(100vh);
}

.search {
    display: flex;
    form{
        width: 100%;
        display: flex;
        .form-group{
            width: 80%;
        }
        input{
            
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    button{
        height: 37px;
        background: #3498db;
        color: #fff;
        width: 20%;
        border: 1px solid #3498db;
    }
}
.option{
    height: 6vw;
    margin: 8px 0;
    padding: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
    p{
        font-size: 12px;
        margin: 0;
        font-weight: 500;
    }
    h4{
        padding: 2px;
        font-weight: 400;
    color: #005b9f;
    }
    .ctr{
        line-height: 4vw;
    text-align: center;
    }
}